/* base */

.wrap{
	width: $wrapper-size;
	margin: 0 auto;
	
	@include respond-to-width($wrapper-size + 40){
		width: 96%;
		margin: 0 2%;
	}
}

body{
	background: $first-theme-color;
	font-family: $font-family;
	font-size: $font-size;
	line-height: $font-height;
	color: $font-color;
}