/* mixin */
@mixin transition($value){
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value;
}

@mixin border-radius($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	-o-border-radius: $value;
	border-radius: $value;
}

@mixin respond-to-width($size){
	@media only screen and (max-width: $size){
		@content;
	}
}
