/* variables */
$first-theme-color: #fff;
$second-theme-color: #e74d3d;
$third-theme-color: #8fbf4e;
$fourth-theme-color: #3598db;
$fifth-theme-color: #363636;

$font-family: 'Open Sans', sans-serif;
$font-header: 'Dancing Script', cursive;

$font-color: #898989;
$font-size: 18px;
$font-height: 26px;

$wrapper-size: 1260px;
$big-tab-size: 1000px;
$tab-size: 780px;
$phone-size: 550px;
$small-phone-size: 440px;