<section id="page-title">
	<div class="wrap" *ngFor="let page of pages">{{page.title}}</div>
</section>
<main>
	<div class="wrap">
		<div class="content-wrap">
			<div class="content-left" *ngFor="let page of pages">
                <div class="gallery-text" [innerHTML]="page.content"></div>
                
                <div id="work-images" *ngFor="let gallery of galleryContent">
                    <h3>{{gallery.title}}</h3>
                    <ul class="work-images-list">
                        <li *ngFor="let image of gallery.images">
                            <img src="{{image.src}}" alt="{{image.alt}}">
                        </li>
                    </ul>
                </div>
            </div>
		</div>
		<div class="clear"></div>
	</div>
</main>