<section id="page-title">
    <div class="wrap">Contact Us</div>
</section>
<main>
    <div class="wrap">
        <div class="contact-wrap">
            <div class="content-left">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
            </div>
            <div class="content-right">
                <div class="contact-form">
                    <div role="form" class="wpcf7" id="wpcf7-f37-p2-o2" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="/wp_painters_submitted/?now=2017-05-13-03%3A47%3A10#wpcf7-f37-p2-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                            <h2 class="form-title">Get A Free Estimate</h2>
                            <div class="input-field">
                                <span class="wpcf7-form-control-wrap fullname"><input type="text" name="fullname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Full Name"></span>
                            </div>
                            <div class="input-field">
                                <span class="wpcf7-form-control-wrap emailaddress"><input type="email" name="emailaddress" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Address"></span>
                            </div>
                            <div class="input-field">
                                <span class="wpcf7-form-control-wrap phonenumber"><input type="text" name="phonenumber" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Phone Number"></span>
                            </div>
                            <div class="textarea-field">
                                <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea></span>
                            </div>
                            <div class="btn-submit"><input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></div>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</main>