<section id="page-title">
	<div class="wrap">Services</div>
</section>
<main>
    <div class="wrap">
        <div class="archive-wrap">
            <div class="content-left">
                <div class="archive-entry">
                    <figure><img src="/assets/images/img-2.jpg" class="" alt="" ></figure>
                    <article>
                        <h2 class="content-entry-title"><a href="/services/interior-painting/">Interior Painting</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat […] </p>
                    </article>
                </div>
                <div class="archive-entry">
                    <figure><img src="/assets/images/img-1.jpg" class="" alt="" ></figure>
                    <article>
                        <h2 class="content-entry-title"><a href="/services/exterior-painting/">Exterior Painting</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat […] </p>
                    </article>
                </div>
            </div>
            <!--content-left-->
            <div class="content-right">
                <div class="archive-sidebar widget-archive">
                    <h2 class="widgettitle">Latest Services</h2>
                    <ul>
                        <li><a href="/services/interior-painting/">Interior Painting</a></li>
                        <li><a href="/services/exterior-painting/">Exterior Painting</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</main>