<section id="page-title">
	<div class="wrap" *ngFor="let service of services | filter:'url':url">{{service.title}}</div>
</section>
<main>
    <div class="wrap">
        <div class="archive-wrap">
            <div class="content-left">
                <div class="archive-entry" *ngFor="let service of services | filter: 'url':url">
                    <article>
                        <figure><img src="{{service.featuredImage}}" class="" alt="" ></figure>
                        <div [innerHTML]="service.content"></div>
                    </article>
                </div>
            </div>
            <!--content-left-->
            <div class="content-right">
                <div class="archive-sidebar widget-archive">
                    <h2 class="widgettitle">Latest Services</h2>
                    <ul>
                        <li *ngFor="let service of services">
                            <a routerLink="/{{service.parent}}/{{service.url}}">{{service.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</main>